/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

.navbar-section {
  font-size: 20px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
}
.navbar-section > img {
  height: 27px;
  padding-bottom: 0.5rem;
}
.navbar-section nav {
  height: 100%;
}
.navbar-section nav ul {
  display: flex;
  gap: 27px;
  align-items: flex-end;
  height: 100%;
}
.navbar-section nav ul li:not(:last-child) {
  height: 100%;
}
.navbar-section nav ul li {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.75rem;
  display: flex;
  align-items: flex-end;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.navbar-section nav ul li:not(:last-child):hover {
  background: #93A5FF;
}
.navbar-section nav ul li a {
  text-decoration: none;
  color: #fff;
}
.navbar-section nav ul .Login {
  padding: 0.75rem;
  background: #fff;
  border-radius: 5px;
}
.navbar-section nav ul .Login img {
  margin-left: 1.5rem;
}
.navbar-section nav ul .Login a {
  font-weight: 600;
  color: #93A5FF;
}

header {
  width: 100vw;
  max-height: 850px;
  position: relative;
  overflow: hidden;
  height: 90vh;
}
header section {
  width: 90%;
  width: 90%;
  max-width: 1650px;
  margin: 0 auto;
}
header section .content {
  height: calc(100% - 90px);
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 4.8rem;
}
header section .content > img {
  width: 50%;
  margin-bottom: 7%;
}
header section .content > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 7%;
}
header section .content > div h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.735px;
  line-height: 4rem;
}
header section .content > div p {
  font-size: 1.75rem;
  letter-spacing: 0.42px;
  opacity: 0.8;
  line-height: 2.375rem;
}
header section .content > div .choice {
  display: flex;
  gap: 1px;
}
header section .content > div .choice > input {
  color: white;
  background: #384170;
  outline: none;
  border: none;
  font-size: 1.25rem;
  line-height: 1.68rem;
  padding: 0.875rem 1rem;
  width: 40%;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  margin-top: 2.75rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
header section .content > div .choice > select {
  width: 15%;
  margin-top: 2.75rem;
  background: #384170;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  padding-left: 0.75rem;
}
header section .content > div .choice > a {
  margin-top: 2.75rem;
  background: #93A5FF;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 18;
  font-weight: 600;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
header section .rotateLight {
  position: absolute;
  top: -71px;
  left: -41px;
  z-index: -2;
  width: 106%;
  height: 100%;
  background: #8C9EFC;
  transform: rotate(-4deg);
}
header section .rotateDark {
  position: absolute;
  top: -98px;
  left: -36px;
  z-index: -1;
  width: 105%;
  height: 100%;
  background: #424D83;
  transform: rotate(4deg);
  box-shadow: 0px 3px 25px rgba(66, 77, 131, 0.27);
}

main {
  width: 100vw;
}
main .bg {
  width: 100vw;
  background-color: #F7F8FF;
  padding-bottom: 6.931rem;
}
main section {
  width: 90%;
  max-width: 1650px;
  margin: 0 auto;
}
main section h2 {
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 0.525px;
}
main section p {
  opacity: 0.8;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.37rem;
  text-align: center;
  letter-spacing: 0.42px;
}
main section .WhatWill {
  width: 100%;
  color: #2E2E2E;
  margin-top: 5rem;
}
main section .WhatWill .illu {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 6.6rem;
}
main section .WhatWill .illu__text {
  display: flex;
  flex-direction: column;
  width: 42%;
  max-width: 690px;
}
main section .WhatWill .illu__text__card {
  display: flex;
  align-items: flex-start;
  height: 33%;
  margin-bottom: 3.75rem;
}
main section .WhatWill .illu__text__card img {
  height: 57%;
  max-height: 71px;
}
main section .WhatWill .illu__text__card__text {
  display: flex;
  flex-direction: column;
  margin-left: 1.9rem;
}
main section .WhatWill .illu__text__card__text h3, main section .WhatWill .illu__text__card__text p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 37px;
}
main section .WhatWill .illu__text__card__text p {
  font-weight: 400;
  opacity: 0.8;
  text-align: left;
}
main section .WhatWill .illu__text__card__text h3 {
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: 0.345px;
}
main section .WhatWill .illu__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  max-height: 570px;
  width: 52%;
}
main section .WhatWill .illu__img img:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
}
main section .WhatWill .illu__img img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
}
main section .DontKnow {
  width: 100%;
  color: #2E2E2E;
  padding-top: 5rem;
}
main section .DontKnow .content {
  display: flex;
  justify-content: space-between;
  margin-top: 4.981rem;
}
main section .DontKnow .content .light {
  background: #93A5FF;
}
main section .DontKnow .content .dark {
  background: #424D83;
}
main section .DontKnow .content .planning {
  width: 47%;
  max-width: 765px;
  border-radius: 5px;
  position: relative;
  color: #fff;
  padding: 2.875rem 3.125rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
main section .DontKnow .content .planning .contentImg {
  width: 10%;
  max-width: 77px;
  margin-bottom: 2.6875rem;
}
main section .DontKnow .content .planning .bgImageLight {
  width: 35%;
  max-width: 265px;
  position: absolute;
  right: 1.2rem;
  top: 2.2rem;
}
main section .DontKnow .content .planning .bgImageDark {
  width: 35%;
  max-width: 260px;
  position: absolute;
  right: 1.2rem;
  top: 0;
}
main section .DontKnow .content .planning h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.345px;
  margin-bottom: 1.5rem;
}
main section .DontKnow .content .planning p {
  font-size: 1.25rem;
  line-height: 37px;
  width: 85.7%;
  max-width: 656px;
  text-align: left;
  opacity: 1;
  margin-bottom: 1.25rem;
}
main section .DontKnow .content .planning .btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
main section .DontKnow .content .planning .btn a {
  background: #fff;
  text-decoration: none;
  color: #93A5FF;
  padding: 0.53rem 1.293rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 37px;
  display: flex;
  align-items: center;
}
main section .DontKnow .content .planning .btn a img {
  margin-left: 1.156rem;
}
main section .typesHosting {
  width: 100%;
  color: #2E2E2E;
  padding-top: 5rem;
}
main section .typesHosting .service {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 6.6rem;
}
main section .typesHosting .service .vpn {
  border-top: #93A5FF 11px solid;
}
main section .typesHosting .service .vpn a {
  margin-bottom: 3.75rem;
  padding: 0.53rem 1.293rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #93A5FF;
  background: #F7F8FF;
  width: 62.6%;
  max-width: 224.16px;
}
main section .typesHosting .service .vpn a img {
  margin-left: 1.156rem;
}
main section .typesHosting .service .shared {
  border-radius: 5px;
  width: 21.7%;
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.11);
  height: 100%;
  transition: all 0.3s;
}
main section .typesHosting .service .shared:hover {
  border-top: #93A5FF 11px solid;
}
main section .typesHosting .service .shared:hover .hoverPrice {
  margin-bottom: 3.75rem;
  padding: 0.53rem 1.293rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #93A5FF;
  background: #F7F8FF;
  width: 62.6%;
  max-width: 224.16px;
}
main section .typesHosting .service .shared:hover .hoverPrice img {
  margin-left: 1.156rem;
}
main section .typesHosting .service .shared__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.3125rem 0;
  text-align: center;
}
main section .typesHosting .service .shared__content h3 {
  font-size: 1.437rem;
  font-weight: 700;
  letter-spacing: 0.345px;
  line-height: 2.31rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
main section .typesHosting .service .shared__content p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.31rem;
  margin-bottom: 2.9rem;
  width: 79.3%;
  max-width: 284px;
  letter-spacing: 0;
}
main section .typesHosting .service .shared__content img {
  width: 18.65rem;
  max-width: 66.78px;
  margin-top: 2.8121rem;
}
main section .typesHosting .service .shared__price {
  width: 100%;
  border-top: solid 1px #EBEBEB;
  padding-top: 2.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main section .typesHosting .service .shared__price .titlePrice {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.31rem;
  opacity: 1;
}
main section .typesHosting .service .shared__price .priceNumber {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.31rem;
  opacity: 1;
  margin-bottom: 2.93rem;
}
main section .typesHosting .service .shared__price .priceNumber span {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.31rem;
}
main section .typesHosting .service .shared__price .hoverPrice {
  display: none;
  transition: all 0.3s;
}
main .dottedPoint {
  width: 100vw;
  position: relative;
}
main .dottedPoint .first {
  position: absolute;
  right: 0.79rem;
  top: -3rem;
}
main .dottedPoint .second {
  position: absolute;
  left: 0.745rem;
  bottom: -3.875rem;
}
main .dottedPoint .bg-review {
  background-color: #F7F8FF;
  padding-bottom: 6.931rem;
}
main .dottedPoint .bg-review .pages {
  gap: 1.41rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4.1875rem;
}
main .dottedPoint .bg-review .pages .dot {
  width: 12.33px;
  height: 12.33px;
  border-radius: 9999px;
  background: #93A5FF;
  opacity: 0.38;
  transition: all 0.3s;
}
main .dottedPoint .bg-review .pages .dot:hover {
  width: 20.8px;
  height: 20.8px;
  opacity: 1;
  box-shadow: 0px 3px 6px rbga(147, 165, 255, 0.45);
}
main .dottedPoint .bg-review .pages .hoverAct {
  width: 20.8px;
  height: 20.8px;
  opacity: 1;
  box-shadow: 0px 3px 6px rbga(147, 165, 255, 0.45);
}
main .dottedPoint .bg-review .content {
  justify-content: space-evenly;
}
main .dottedPoint .bg-review .content .feedback {
  width: 41.5%;
  max-width: 685px;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 100%;
}
main .dottedPoint .bg-review .content .feedback .user {
  width: 15.7%;
  max-width: 108px;
  margin-right: 1.93rem;
}
main .dottedPoint .bg-review .content .feedback .user img {
  width: 100%;
}
main .dottedPoint .bg-review .content .feedback .card__content {
  width: 79.7%;
  max-width: 546px;
  margin-top: 0.82125rem;
}
main .dottedPoint .bg-review .content .feedback .card__content .reviewStar {
  width: 24.81%;
  max-width: 136px;
  margin-bottom: 1.525rem;
}
main .dottedPoint .bg-review .content .feedback .card__content p {
  font-size: 1.4375rem;
  letter-spacing: 0.345px;
  line-height: 2.31rem;
  font-style: italic;
  text-align: left;
  color: #2E2E2E;
  margin-bottom: 0.75rem;
  opacity: 1;
  font-weight: 300;
}
main .dottedPoint .bg-review .content .feedback .card__content h3 {
  font-size: 1.25rem;
  letter-spacing: 0.3px;
  color: #2E2E2E;
  font-weight: 700;
  line-height: 2.31rem;
}

/*# sourceMappingURL=style.css.map */
