/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 1450px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 560px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

.navbar-section {
  font-size: 1.25rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 5.625rem;
}
.navbar-section > img {
  height: 2.1875rem;
  padding-bottom: 0.5rem;
}
.navbar-section nav {
  height: 100%;
}
@media screen and (max-width: 895px) {
  .navbar-section nav {
    display: flex;
    align-items: flex-end;
  }
}
.navbar-section nav .material-icons {
  display: none;
}
@media screen and (max-width: 895px) {
  .navbar-section nav .material-icons {
    position: relative;
    z-index: 2;
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
}
.navbar-section nav ul {
  display: flex;
  gap: 1.6875rem;
  align-items: flex-end;
  height: 100%;
  transition: all 0.3s;
}
@media screen and (max-width: 895px) {
  .navbar-section nav ul {
    position: absolute;
    right: -50%;
    top: 0;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #424D83;
    padding-left: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
.navbar-section nav ul li:not(:last-child) {
  height: 100%;
}
@media screen and (max-width: 895px) {
  .navbar-section nav ul li:not(:last-child) {
    height: unset;
  }
}
.navbar-section nav ul li {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.75rem;
  display: flex;
  align-items: flex-end;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
@media screen and (max-width: 895px) {
  .navbar-section nav ul li {
    padding: 0;
    font-size: 2rem;
    height: unset;
  }
}
.navbar-section nav ul li:not(:last-child):hover {
  background: #93A5FF;
}
@media screen and (max-width: 895px) {
  .navbar-section nav ul li:not(:last-child):hover {
    background: transparent;
  }
}
.navbar-section nav ul li a {
  text-decoration: none;
  color: #fff;
}
.navbar-section nav ul .Login {
  padding: 0.75rem;
  background: #fff;
  border-radius: 5px;
}
.navbar-section nav ul .Login img {
  margin-left: 1.5rem;
}
.navbar-section nav ul .Login a {
  font-weight: 600;
  color: #93A5FF;
}
.navbar-section nav .open {
  right: 0;
}

header {
  width: 100vw;
  max-height: 850px;
  position: relative;
  overflow: hidden;
  height: 90vh;
}
header section {
  width: 90%;
  width: 90%;
  max-width: 1650px;
  margin: 0 auto;
}
header section .content {
  display: flex;
  align-items: center;
  color: #fff;
  margin-top: 4.8rem;
}
@media screen and (max-width: 560px) {
  header section .content {
    flex-direction: column;
  }
}
header section .content > img {
  width: 50%;
  margin-bottom: 7%;
}
@media screen and (max-width: 560px) {
  header section .content > img {
    width: 70%;
  }
}
header section .content > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 7%;
}
@media screen and (max-width: 560px) {
  header section .content > div {
    align-items: center;
    width: 85%;
  }
}
header section .content > div h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.735px;
  line-height: 4rem;
}
header section .content > div p {
  font-size: 1.75rem;
  letter-spacing: 0.42px;
  opacity: 0.8;
  line-height: 2.375rem;
}
header section .content > div .choice {
  display: flex;
  gap: 1px;
}
@media screen and (max-width: 1000px) {
  header section .content > div .choice {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 560px) {
  header section .content > div .choice {
    justify-content: center;
  }
}
header section .content > div .choice > input {
  color: white;
  background: #384170;
  outline: none;
  border: none;
  font-size: 1.25rem;
  line-height: 1.68rem;
  padding: 0.875rem 1rem;
  width: 40%;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  margin-top: 2.75rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
@media screen and (max-width: 1000px) {
  header section .content > div .choice > input {
    width: 60%;
  }
}
@media screen and (max-width: 560px) {
  header section .content > div .choice > input {
    width: 67.3%;
  }
}
header section .content > div .choice > select {
  width: 15%;
  margin-top: 2.75rem;
  background: #384170;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.25rem;
  color: white;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  padding-left: 0.75rem;
}
@media screen and (max-width: 1000px) {
  header section .content > div .choice > select {
    width: 25%;
  }
}
@media screen and (max-width: 560px) {
  header section .content > div .choice > select {
    width: 32.2%;
  }
}
header section .content > div .choice > a {
  margin-top: 2.75rem;
  background: #93A5FF;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
@media screen and (max-width: 1000px) {
  header section .content > div .choice > a {
    margin-left: 0;
    width: 85%;
  }
}
@media screen and (max-width: 560px) {
  header section .content > div .choice > a {
    width: 100%;
  }
}
header section .rotateLight {
  position: absolute;
  top: -4.4375rem;
  left: -2.5625rem;
  z-index: -2;
  width: 110%;
  height: 100%;
  background: #8C9EFC;
  transform: rotate(-4deg);
}
header section .rotateDark {
  position: absolute;
  top: -6.125rem;
  left: -2.25rem;
  z-index: -1;
  width: 110%;
  height: 100%;
  background: #424D83;
  transform: rotate(4deg);
  box-shadow: 0px 3px 25px rgba(66, 77, 131, 0.27);
}
@media screen and (max-width: 560px) {
  header section .rotateDark {
    width: 120%;
    left: -4.25rem;
  }
}

main {
  width: 100vw;
}
main .bg {
  width: 100vw;
  background-color: #F7F8FF;
  padding-bottom: 6.931rem;
}
main section {
  width: 90%;
  max-width: 1650px;
  margin: 0 auto;
}
main section h2 {
  font-size: 2.2rem;
  font-weight: 800;
  text-align: center;
  line-height: 3rem;
  letter-spacing: 0.525px;
}
main section p {
  opacity: 0.8;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.37rem;
  text-align: center;
  letter-spacing: 0.42px;
}
main section .WhatWill {
  width: 100%;
  color: #2E2E2E;
  margin-top: 5rem;
}
main section .WhatWill .illu {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 6.6rem;
}
@media screen and (max-width: 1450px) {
  main section .WhatWill .illu {
    flex-direction: column;
    align-items: center;
  }
}
main section .WhatWill .illu__text {
  display: flex;
  flex-direction: column;
  width: 42%;
  max-width: 690px;
}
@media screen and (max-width: 1450px) {
  main section .WhatWill .illu__text {
    width: 100%;
  }
}
main section .WhatWill .illu__text__card {
  display: flex;
  align-items: flex-start;
  height: 33%;
  margin-bottom: 3.75rem;
}
@media screen and (max-width: 560px) {
  main section .WhatWill .illu__text__card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1rem;
  }
}
main section .WhatWill .illu__text__card img {
  height: 57%;
  max-height: 71px;
}
main section .WhatWill .illu__text__card__text {
  display: flex;
  flex-direction: column;
  margin-left: 1.9rem;
}
@media screen and (max-width: 560px) {
  main section .WhatWill .illu__text__card__text {
    margin-left: 0;
  }
}
main section .WhatWill .illu__text__card__text h3, main section .WhatWill .illu__text__card__text p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 37px;
}
main section .WhatWill .illu__text__card__text p {
  font-weight: 400;
  opacity: 0.8;
  text-align: left;
}
@media screen and (max-width: 560px) {
  main section .WhatWill .illu__text__card__text p {
    text-align: center;
  }
}
main section .WhatWill .illu__text__card__text h3 {
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: 0.345px;
}
main section .WhatWill .illu__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  max-height: 570px;
  width: 52%;
}
@media screen and (max-width: 1450px) {
  main section .WhatWill .illu__img {
    width: 65%;
  }
}
@media screen and (max-width: 1000px) {
  main section .WhatWill .illu__img {
    width: 91%;
  }
}
@media screen and (max-width: 560px) {
  main section .WhatWill .illu__img .imageIllu {
    width: 75%;
  }
}
main section .WhatWill .illu__img img:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 895px) {
  main section .WhatWill .illu__img img:nth-child(1) {
    width: 25%;
  }
}
main section .WhatWill .illu__img img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 895px) {
  main section .WhatWill .illu__img img:nth-child(3) {
    width: 25%;
  }
}
main section .DontKnow {
  width: 100%;
  color: #2E2E2E;
  padding-top: 5rem;
}
main section .DontKnow .content {
  display: flex;
  justify-content: space-between;
  margin-top: 4.981rem;
}
@media screen and (max-width: 1000px) {
  main section .DontKnow .content {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}
main section .DontKnow .content .light {
  background: #93A5FF;
}
main section .DontKnow .content .dark {
  background: #424D83;
}
main section .DontKnow .content .planning {
  width: 47%;
  max-width: 765px;
  border-radius: 5px;
  position: relative;
  color: #fff;
  padding: 2.875rem 3.125rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  main section .DontKnow .content .planning {
    width: 87%;
  }
}
@media screen and (max-width: 560px) {
  main section .DontKnow .content .planning {
    padding: 1.875rem 2.125rem;
  }
}
main section .DontKnow .content .planning .contentImg {
  width: 10%;
  max-width: 77px;
  margin-bottom: 2.6875rem;
}
@media screen and (max-width: 560px) {
  main section .DontKnow .content .planning .contentImg {
    width: 20%;
  }
}
main section .DontKnow .content .planning .bgImageLight {
  width: 35%;
  max-width: 265px;
  position: absolute;
  right: 1.2rem;
  top: 2.2rem;
}
@media screen and (max-width: 560px) {
  main section .DontKnow .content .planning .bgImageLight {
    width: 40%;
  }
}
main section .DontKnow .content .planning .bgImageDark {
  width: 35%;
  max-width: 260px;
  position: absolute;
  right: 1.2rem;
  top: 0;
}
@media screen and (max-width: 560px) {
  main section .DontKnow .content .planning .bgImageDark {
    width: 40%;
  }
}
main section .DontKnow .content .planning h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.3125rem;
  letter-spacing: 0.345px;
  margin-bottom: 1.5rem;
}
main section .DontKnow .content .planning p {
  font-size: 1.25rem;
  line-height: 2.3125rem;
  width: 85.7%;
  max-width: 656px;
  text-align: left;
  opacity: 1;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 560px) {
  main section .DontKnow .content .planning p {
    width: 100%;
  }
}
main section .DontKnow .content .planning .btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
main section .DontKnow .content .planning .btn a {
  background: #fff;
  text-decoration: none;
  color: #93A5FF;
  padding: 0.53rem 1.293rem;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.3125rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 560px) {
  main section .DontKnow .content .planning .btn a {
    width: 100%;
    justify-content: center;
  }
}
main section .DontKnow .content .planning .btn a img {
  margin-left: 1.156rem;
}
main section .typesHosting {
  width: 100%;
  color: #2E2E2E;
  padding-top: 5rem;
}
main section .typesHosting .service {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 6.6rem;
}
@media screen and (max-width: 1200px) {
  main section .typesHosting .service {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  main section .typesHosting .service {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}
main section .typesHosting .service .vpn {
  border-top: #93A5FF 11px solid;
}
main section .typesHosting .service .vpn a {
  margin-bottom: 3.75rem;
  padding: 0.53rem 1.293rem;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.3125rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #93A5FF;
  background: #F7F8FF;
  width: 62.6%;
  max-width: 224.16px;
}
main section .typesHosting .service .vpn a img {
  margin-left: 1.156rem;
}
main section .typesHosting .service .shared {
  border-radius: 5px;
  width: 21.7%;
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.11);
  height: 100%;
  transition: all 0.3s;
}
@media screen and (max-width: 1200px) {
  main section .typesHosting .service .shared {
    width: 30.7%;
    min-width: 280px;
  }
}
@media screen and (max-width: 1000px) {
  main section .typesHosting .service .shared {
    width: 50.7%;
  }
}
main section .typesHosting .service .shared:hover {
  border-top: #93A5FF 11px solid;
}
main section .typesHosting .service .shared:hover .hoverPrice {
  margin-bottom: 3.75rem;
  padding: 0.53rem 1.293rem;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.3125rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #93A5FF;
  background: #F7F8FF;
  width: 62.6%;
  max-width: 224.16px;
}
main section .typesHosting .service .shared:hover .hoverPrice img {
  margin-left: 1.156rem;
}
main section .typesHosting .service .shared__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.3125rem 0;
  text-align: center;
}
main section .typesHosting .service .shared__content h3 {
  font-size: 1.437rem;
  font-weight: 700;
  letter-spacing: 0.345px;
  line-height: 2.31rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
main section .typesHosting .service .shared__content p {
  font-size: 1.25rem;
  line-height: 2.31rem;
  margin-bottom: 2.9rem;
  width: 79.3%;
  max-width: 284px;
  letter-spacing: 0;
}
@media screen and (max-width: 1000px) {
  main section .typesHosting .service .shared__content p {
    max-width: 354px;
  }
}
main section .typesHosting .service .shared__content img {
  width: 18.65rem;
  max-width: 66.78px;
  margin-top: 2.8121rem;
}
main section .typesHosting .service .shared__price {
  width: 100%;
  border-top: solid 1px #EBEBEB;
  padding-top: 2.9rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main section .typesHosting .service .shared__price .titlePrice {
  font-size: 1.25rem;
  line-height: 2.31rem;
  opacity: 1;
}
main section .typesHosting .service .shared__price .priceNumber {
  font-size: 2.5rem;
  line-height: 2.31rem;
  opacity: 1;
  margin-bottom: 2.93rem;
}
main section .typesHosting .service .shared__price .priceNumber span {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.31rem;
}
main section .typesHosting .service .shared__price .hoverPrice {
  display: none;
  transition: all 0.3s;
}
main section .client {
  color: #2E2E2E;
}
main section .client h2 {
  margin-top: 5.875rem;
  line-height: 2.9375rem;
}
main section .client p {
  opacity: 1;
}
main section .client .logoSos {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 9.25rem;
  max-width: 1650px;
  flex-wrap: wrap;
  justify-content: center;
}
main section .client .logoSos img {
  height: 100%;
}
main section .client .button {
  display: flex;
  justify-content: center;
}
main section .client .button a {
  margin-top: 4.4rem;
  background: #93A5FF;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.9375rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7.2875rem;
}
main .dottedPoint {
  width: 100vw;
  position: relative;
}
main .dottedPoint .first {
  position: absolute;
  right: 0.79rem;
  top: -3rem;
}
@media screen and (max-width: 1200px) {
  main .dottedPoint .first {
    right: -12.21rem;
  }
}
@media screen and (max-width: 560px) {
  main .dottedPoint .first {
    right: -18rem;
  }
}
main .dottedPoint .second {
  position: absolute;
  left: 0.745rem;
  bottom: -3.875rem;
}
@media screen and (max-width: 1200px) {
  main .dottedPoint .second {
    left: -12.255rem;
  }
}
@media screen and (max-width: 560px) {
  main .dottedPoint .second {
    left: -14rem;
  }
}
main .dottedPoint .bg-review {
  background-color: #F7F8FF;
  padding-bottom: 6.931rem;
}
main .dottedPoint .bg-review .pages {
  gap: 1.41rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4.1875rem;
}
main .dottedPoint .bg-review .pages .dot {
  width: 12.33px;
  height: 12.33px;
  border-radius: 9999px;
  background: #93A5FF;
  opacity: 0.38;
  transition: all 0.3s;
}
main .dottedPoint .bg-review .pages .dot:hover {
  width: 20.8px;
  height: 20.8px;
  opacity: 1;
  box-shadow: 0px 3px 6px rgba(147, 165, 255, 0.45);
}
main .dottedPoint .bg-review .pages .hoverAct {
  width: 20.8px;
  height: 20.8px;
  opacity: 1;
  box-shadow: 0px 3px 6px rgba(147, 165, 255, 0.45);
}
main .dottedPoint .bg-review .content {
  justify-content: space-evenly;
}
@media screen and (max-width: 1000px) {
  main .dottedPoint .bg-review .content {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }
}
main .dottedPoint .bg-review .content .feedback {
  width: 41.5%;
  max-width: 685px;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  main .dottedPoint .bg-review .content .feedback {
    width: 68.5%;
  }
}
@media screen and (max-width: 560px) {
  main .dottedPoint .bg-review .content .feedback {
    width: 95%;
  }
}
main .dottedPoint .bg-review .content .feedback .user {
  width: 15.7%;
  max-width: 108px;
  margin-right: 1.93rem;
}
@media screen and (max-width: 560px) {
  main .dottedPoint .bg-review .content .feedback .user {
    width: 23.7%;
    margin-right: 1rem;
  }
}
main .dottedPoint .bg-review .content .feedback .user img {
  width: 100%;
}
main .dottedPoint .bg-review .content .feedback .card__content {
  width: 79.7%;
  max-width: 546px;
  margin-top: 0.82125rem;
}
main .dottedPoint .bg-review .content .feedback .card__content .reviewStar {
  width: 24.81%;
  max-width: 136px;
  margin-bottom: 1.525rem;
}
@media screen and (max-width: 560px) {
  main .dottedPoint .bg-review .content .feedback .card__content .reviewStar {
    width: 38.81%;
  }
}
main .dottedPoint .bg-review .content .feedback .card__content p {
  font-size: 1.4375rem;
  letter-spacing: 0.345px;
  line-height: 2.31rem;
  font-style: italic;
  text-align: left;
  color: #2E2E2E;
  margin-bottom: 0.75rem;
  opacity: 1;
  font-weight: 300;
}
main .dottedPoint .bg-review .content .feedback .card__content h3 {
  font-size: 1.25rem;
  letter-spacing: 0.3px;
  color: #2E2E2E;
  font-weight: 700;
  line-height: 2.31rem;
}

footer {
  width: 100vw;
  position: relative;
  overflow: hidden;
}
footer section {
  width: 90%;
  max-width: 1650px;
  margin: 0 auto;
  padding-top: 12.275rem;
  padding-bottom: 6.631rem;
}
footer section .content {
  display: flex;
  justify-content: space-between;
  color: #fff;
  flex-wrap: wrap;
  column-gap: 224px;
  row-gap: 5.875rem;
}
footer section .content div {
  display: flex;
  flex-direction: column;
  max-width: 475px;
  height: 100%;
}
@media screen and (max-width: 560px) {
  footer section .content div {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
footer section .content div h3 {
  font-weight: 700;
  font-size: 1.4375rem;
  letter-spacing: 0.345px;
  line-height: 2.3125rem;
  margin-bottom: 1.5rem;
}
footer section .content div p {
  font-size: 1.25rem;
  opacity: 1;
  line-height: 2.3125rem;
}
footer section .content div img {
  width: 87px;
}
footer section .content .WeAccept {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.625rem;
}
@media screen and (max-width: 1000px) {
  footer section .content .WeAccept {
    width: 21%;
    row-gap: 0.5rem;
  }
}
@media screen and (max-width: 560px) {
  footer section .content .WeAccept {
    width: 100%;
    justify-content: center;
  }
}
footer section .content .WeAccept h3 {
  width: 100%;
}
@media screen and (max-width: 560px) {
  footer section .content .WeAccept h3 {
    text-align: center;
  }
}
footer section .content .Info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  max-width: 1650px;
  align-items: flex-start;
}
@media screen and (max-width: 560px) {
  footer section .content .Info {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}
footer section .content .Info .logo {
  width: 12.78rem;
  max-width: 211px;
}
footer section .content .Info .logo img {
  margin-bottom: 0.9375rem;
}
footer section .content .Info .Social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 11.6px;
}
@media screen and (max-width: 560px) {
  footer section .content .Info .Social {
    justify-content: center;
  }
}
footer section .content .Info .Social p {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (max-width: 560px) {
  footer section .content .Info .Social p {
    justify-content: center;
  }
}
footer section .content .Info .Social img {
  width: unset;
  height: unset;
  margin-bottom: 1.5rem;
}
footer section .content .Info .Social span {
  display: inline-block;
  height: 100%;
  max-height: 32px;
  width: 1px;
  background: #fff;
}
footer section .rotateLight {
  position: absolute;
  bottom: -4.4375rem;
  left: -2.5625rem;
  z-index: -2;
  width: 110%;
  height: 100%;
  background: #8C9EFC;
  transform: rotate(-4deg);
}
@media screen and (max-width: 1000px) {
  footer section .rotateLight {
    width: 125%;
  }
}
footer section .rotateDark {
  position: absolute;
  bottom: -6.125rem;
  left: -2.25rem;
  z-index: -1;
  width: 110%;
  height: 100%;
  background: #424D83;
  transform: rotate(4deg);
  box-shadow: 0px 3px 25px rgba(66, 77, 131, 0.27);
}
@media screen and (max-width: 1000px) {
  footer section .rotateDark {
    width: 125%;
    left: -4.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
