.navbar-section {
    font-size: 1.25rem;
    color: $color-light-text;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 5.625rem;
    

    > img {
        height: 1.6875rem;
        padding-bottom: 0.5rem;
    }

    nav {
        height: 100%;
        //display: flex;
        //align-items: center;

        ul {
            display: flex;
            gap: 1.6875rem;
            align-items: flex-end;
            height: 100%;

            

            li:not(:last-child) {
                height: 100%;
            }
            
            li {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                padding-bottom: 0.75rem;
                //height: 100%;
                display: flex;
                align-items: flex-end;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                cursor: pointer;
                transition: all 0.3s;

                &:not(:last-child):hover {
                    background: $color-button-light-text;
                    
                }
                
                a {
                    text-decoration: none;
                    color: $color-light-text;
                }
            }

            .Login {
                padding: 0.75rem;
                background: $color-light-text;
                border-radius: 5px;
                img {
                    margin-left: 1.5rem;
                }

                a {
                    font-weight: 600;
                    color: $color-button-light-text;
                }
            }
        }
    }
}