* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    font-size: 16px;
    @include xl {
        font-size: 14px
    }

    @include m {
        font-size: 12px;
    }
}


body {  
    font-family: $font-primary;
    overflow-x: hidden;
}