footer {
    width: 100vw;
    position: relative;
    overflow: hidden;

    section {
        @include placeSection;
        padding-top: 12.275rem;
        padding-bottom: 6.631rem;
        overflow: hidden;

        .content {
            display: flex;
            justify-content: space-between;
            color: $color-light-text;
            flex-wrap: wrap;
            column-gap: 224px;
            row-gap: 5.875rem;


            div {
                display: flex;
                flex-direction: column;
                max-width: 475px;
                height: 100%;
                @include m {
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                }

                h3 {
                    font-weight: 700;
                    font-size: 1.4375rem;
                    letter-spacing: 0.345px;
                    line-height: 2.3125rem;
                    margin-bottom: 1.5rem;
                    
                }

                p {
                    font-size: 1.25rem;
                    opacity: 1;
                    line-height: 2.3125rem;
                }

                img {
                    width: 87px;
                }

                
            }



            .WeAccept {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 0.625rem;
                @include sl {
                    width: 21%;
                    row-gap: 0.5rem;
                }
                @include m {
                    width: 100%;
                    justify-content: center;
                }

                h3 {
                    width: 100%;
                    @include m {
                     text-align: center;   
                    }
                }
            }

            .Info {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                max-width: 1650px;
                align-items: flex-start;
                @include m {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 1rem;
                }

                .logo {
                    width: 12.78rem;
                    max-width: 211px;

                    img {
                        margin-bottom: 0.9375rem;
                    }
                }

                .Social {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    column-gap: 11.6px;
                    @include m {
                        justify-content: center;
                    }

                    p {
                        width: 100%;
                        text-align: right;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 1.25rem;
                        @include m {
                            justify-content: center;
                        }
                    }

                    img {
                        width: unset;
                        height: unset;
                        margin-bottom: 1.5rem;
                    }

                    span {
                        display: inline-block;
                        height: 100%;
                        max-height: 32px;
                        width: 1px;
                        background: $color-light-text;
                    }
                }
            }
        }

        .rotateLight {
            position: absolute;
            bottom: -5.4375rem;
            left: -2.5625rem;
            z-index: -2;
            width: 110%;
            height: 100%;
            background: $color-secondary;
            transform: rotate(-4deg);
            @include sl {
                width: 125%;
            }
            @include m {
                bottom: -5.837rem;
            }
        }

        .rotateDark {
            position: absolute;
            bottom: -6.125rem;
            left: -2.25rem;
            z-index: -1;
            width: 110%;
            height: 120%;
            background: $color-primary;
            transform: rotate(4deg);
            box-shadow: 0px 3px 25px rgba(66, 77, 131, 0.27);
            @include sl {
                width: 125%;
                left: -4.25rem;
            }
        }
    }
}