@mixin placeSection {
    width: 90%;
    max-width: 1650px;
    margin: 0 auto;
}

$xxl : 1800px;

@mixin xxl {
    @media screen and (max-width: $xxl) {
        @content
    }
}

$xl : 1450px;

@mixin xl {
    @media screen and (max-width: $xl) {
        @content
    }
}

$l : 1200px;

@mixin l {
    @media screen and (max-width: $l) {
        @content
    }
}

$sl : 1000px;

@mixin sl {
    @media screen and (max-width: $sl) {
        @content
    }
}

$ssl : 895px;
@mixin ssl {
    @media screen and (max-width: $ssl) {
        @content
    }
}

$m : 560px;
@mixin m {
    @media screen and (max-width: $m) {
        @content
    }
}