$font-title: 'Roboto', sans-serif;
$font-primary: 'Nunito', sans-serif;

$color-primary: #424D83;
$color-secondary: #8C9EFC;
$color-dark-text: #2E2E2E;
$color-light-text: #fff;
$color-button-light-text: #93A5FF;